<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="com.sck.plugin.baidupush" version="1.0.1">
    <name>PushNotification</name>
    <description>pushNotification plugin description</description>
    <license>Apache 2.0</license>
    <keywords>baidu,push</keywords>
    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="android-package" value="com.sck.plugin.baidupush.PushNotification" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- Push service 运行需要的权限 -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- push service start -->
            <!-- 用于接收系统消息以保证PushService正常运行 -->
            <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                    <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                    <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                    <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                    <action android:name="android.intent.action.MEDIA_MOUNTED" />
                    <action android:name="android.intent.action.USER_PRESENT" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>
            <!-- Push服务接收客户端发送的各种请求-->
            <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
                <intent-filter>
                    <action android:name="com.baidu.android.pushservice.action.METHOD" />
                    <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
            <service android:name="com.baidu.android.pushservice.PushService" android:exported="true" android:process=":bdservice_v1">
                <intent-filter>
                    <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
                </intent-filter>
            </service>
            <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
            <service android:name="com.baidu.android.pushservice.CommandService" android:exported="true" />
            <!-- push结束 -->
            <!—此处Receiver名字修改为当前包名路径 -->
            <receiver android:name="com.sck.plugin.baidupush.PushReceiver">
                <intent-filter>
                    <!-- 接收push消息 -->
                    <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                    <!-- 接收bind、setTags等method的返回结果-->
                    <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                    <!-- 接收通知点击事件，和通知自定义内容 -->
                    <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/PushNotification.java" target-dir="src/com/sck/plugin/baidupush" />
        <source-file src="src/android/PushReceiver.java" target-dir="src/com/sck/plugin/baidupush" />
        <source-file src="src/android/armeabi/libbdpush_V2_2.so" target-dir="libs/armeabi" />
        <source-file src="src/android/armeabi/libbdpush_V2_2.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/mips/libbdpush_V2_2.so" target-dir="libs/mips" />
        <source-file src="src/android/x86/libbdpush_V2_2.so" target-dir="libs/x86" />
        <source-file src="src/android/pushservice-4.4.1.88.jar" target-dir="libs" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="ios-package" value="PushNotification" />
            </feature>
        </config-file>
        <!-- push lib -->
        <header-file src="src/ios/lib/BPush.h" />
        <source-file src="src/ios/lib/libBPush.a" framework="true" />
        <source-file src="src/ios/AppDelegate+notification.m" />
        <header-file src="src/ios/AppDelegate+notification.h" />
        <header-file src="src/ios/PushNotification.h" />
        <source-file src="src/ios/PushNotification.m" />
        <framework src="Foundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
        <framework src="Security.framework" />
    </platform>
</plugin>
